node_modules
bower_components
dist
build
tmp
rascunho
.tmp
.sass-cache
src/app/bower_components
todo

#.firebaserc
#firebase.json


.vscode/.browse.VC.db
.vscode/.browse.VC.db-shm
.vscode/.browse.VC.db-wal
